.container {
  background: rgba(255, 0, 157, 0.11);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  // width: 15rem;
  // height: 9rem;

  color: rgb(231, 231, 231);
  transition: 0.2s;
}

.container:hover {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(8px);
  background: rgba(255, 208, 255, 0.212);
  color: rgb(255, 255, 255);
}
